[submodule "language/common-lisp/games/plong"]
	path = language/common-lisp/games/plong
	url = https://gitlab.com/dto/plong.git
[submodule "language/common-lisp/games/3x0ng"]
	path = language/common-lisp/games/3x0ng
	url = https://gitlab.com/dto/3x0ng.git
